In [4]:
pip install numpy

Requirement already satisfied: numpy in c:\users\admin\anaconda3\lib\site-packages (1.20.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import numpy as np

In [6]:
import pandas as pd

In [10]:
s=pd.Series([1,3,5,6,9,8])
s

0    1
1    3
2    5
3    6
4    9
5    8
dtype: int64

In [11]:
s=pd.Series([1,3,np.nan, 5,6,9,8])
s

0    1.0
1    3.0
2    NaN
3    5.0
4    6.0
5    9.0
6    8.0
dtype: float64

In [12]:
dates=pd.date_range("20220301", periods=15)
dates

DatetimeIndex(['2022-03-01', '2022-03-02', '2022-03-03', '2022-03-04',
               '2022-03-05', '2022-03-06', '2022-03-07', '2022-03-08',
               '2022-03-09', '2022-03-10', '2022-03-11', '2022-03-12',
               '2022-03-13', '2022-03-14', '2022-03-15'],
              dtype='datetime64[ns]', freq='D')

In [7]:
dates=pd.date_range("20220301", periods=15)
df=pd.DataFrame(np.random.rand(15,8),index=dates,columns=list("ABCDEFGH"))
df

,A,B,C,D,E,F,G,H
2022-03-01,0.486996,0.286109,0.375173,0.337845,0.445171,0.068922,0.120869,0.244827
2022-03-02,0.958220,0.706617,0.469144,0.515625,0.241183,0.439866,0.066721,0.167088
2022-03-03,0.246525,0.634950,0.516409,0.678557,0.612490,0.166016,0.256517,0.366488
2022-03-04,0.538298,0.423056,0.819930,0.394430,0.238809,0.317298,0.168942,0.019268
2022-03-05,0.652589,0.460815,0.383481,0.851051,0.090567,0.055597,0.442323,0.815452
2022-03-06,0.434480,0.111631,0.468655,0.735754,0.991857,0.392815,0.304879,0.465801
2022-03-07,0.885625,0.213880,0.105461,0.008672,0.088664,0.049390,0.100323,0.483973
2022-03-08,0.039715,0.956371,0.336698,0.201703,0.625310,0.310059,0.022441,0.198420
2022-03-09,0.748222,0.470273,0.787470,0.406661,0.251951,0.922549,0.176686,0.205933
2022-03-10,0.116712,0.743701,0.864380,0.040275,0.453504,0.639618,0.423165,0.079486
2022-03-11,0.219324,0.745985,0.646157,0.041882,0.590192,0.296908,0.872043,0.059704
2022-03-12,0.309378,0.992522,0.050606,0.513400,0.111868,0.995411,0.173709,0.509529
2022-03-13,0.453400,0.292319,0.303911,0.188163,0.500462,0.911889,0.619369,0.241305
2022-03-14,0.914761,0.000136,0.696753,0.118192,0.031971,0.702620,0.738488,0.442650
2022-03-15,0.409672,0.433917,0.686932,0.147827,0.668775,0.921626,0.297759,0.291280

In [22]:
df_2 = pd.DataFrame(
                        {
                            "A":1.0,
                            "B":pd.Timestamp("20220114"),
                            "C":pd.Series(1,index=list(range(4)),dtype="float32"),
                            "D":np.array([3]*4,dtype="int32"),
                            "E":pd.Categorical(["test","train","test","train"]),
                            "F":"foo",
                        }
                    )
df_2

     A          B    C  D      E    F
0  1.0 2022-01-14  1.0  3   test  foo
1  1.0 2022-01-14  1.0  3  train  foo
2  1.0 2022-01-14  1.0  3   test  foo
3  1.0 2022-01-14  1.0  3  train  foo

In [24]:
df_2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [25]:
df_2.head()

     A          B    C  D      E    F
0  1.0 2022-01-14  1.0  3   test  foo
1  1.0 2022-01-14  1.0  3  train  foo
2  1.0 2022-01-14  1.0  3   test  foo
3  1.0 2022-01-14  1.0  3  train  foo

In [26]:
df_2.tail(3)

     A          B    C  D      E    F
1  1.0 2022-01-14  1.0  3  train  foo
2  1.0 2022-01-14  1.0  3   test  foo
3  1.0 2022-01-14  1.0  3  train  foo

In [27]:
df_2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [28]:
df_2.to_numpy

<bound method DataFrame.to_numpy of      A          B    C  D      E    F
0  1.0 2022-01-14  1.0  3   test  foo
1  1.0 2022-01-14  1.0  3  train  foo
2  1.0 2022-01-14  1.0  3   test  foo
3  1.0 2022-01-14  1.0  3  train  foo>

In [29]:
df.to_numpy

<bound method DataFrame.to_numpy of                    A         B         C         D         E         F  \
2022-03-01  0.791410  0.032060  0.297951  0.582756  0.825195  0.715629
2022-03-02  0.373214  0.174848  0.751549  0.827873  0.435805  0.439796
2022-03-03  0.226338  0.865592  0.487096  0.206012  0.824750  0.812678
2022-03-04  0.354789  0.723503  0.787303  0.695881  0.553230  0.105646
2022-03-05  0.970315  0.777807  0.879053  0.035325  0.911099  0.254140
2022-03-06  0.646082  0.241387  0.283410  0.497660  0.656443  0.030641
2022-03-07  0.756150  0.531656  0.994747  0.876375  0.956613  0.841738
2022-03-08  0.764507  0.705858  0.776903  0.041545  0.548389  0.448119
2022-03-09  0.897681  0.234643  0.631008  0.376027  0.055020  0.502841
2022-03-10  0.066962  0.840343  0.111397  0.140932  0.409872  0.509613
2022-03-11  0.080631  0.727836  0.093067  0.471157  0.114022  0.987940
2022-03-12  0.513596  0.466261  0.853844  0.215854  0.721572  0.838503
2022-03-13  0.193059  0.716704  0.598026  0.893972  0.511817  0.183002
2022-03-14  0.011681  0.946183  0.921488  0.889350  0.738536  0.614728
2022-03-15  0.559762  0.017254  0.344612  0.818032  0.020370  0.718311

                   G         H
2022-03-01  0.252793  0.170953
2022-03-02  0.700535  0.223256
2022-03-03  0.238723  0.173252
2022-03-04  0.658595  0.458736
2022-03-05  0.008228  0.344855
2022-03-06  0.470101  0.345162
2022-03-07  0.798086  0.583820
2022-03-08  0.480196  0.937023
2022-03-09  0.671016  0.159951
2022-03-10  0.474575  0.400762
2022-03-11  0.448789  0.353562
2022-03-12  0.884230  0.566735
2022-03-13  0.632912  0.356676
2022-03-14  0.503320  0.300765
2022-03-15  0.581699  0.105795  >

In [30]:
df

,A,B,C,D,E,F,G,H
2022-03-01,0.791410,0.032060,0.297951,0.582756,0.825195,0.715629,0.252793,0.170953
2022-03-02,0.373214,0.174848,0.751549,0.827873,0.435805,0.439796,0.700535,0.223256
2022-03-03,0.226338,0.865592,0.487096,0.206012,0.824750,0.812678,0.238723,0.173252
2022-03-04,0.354789,0.723503,0.787303,0.695881,0.553230,0.105646,0.658595,0.458736
2022-03-05,0.970315,0.777807,0.879053,0.035325,0.911099,0.254140,0.008228,0.344855
2022-03-06,0.646082,0.241387,0.283410,0.497660,0.656443,0.030641,0.470101,0.345162
2022-03-07,0.756150,0.531656,0.994747,0.876375,0.956613,0.841738,0.798086,0.583820
2022-03-08,0.764507,0.705858,0.776903,0.041545,0.548389,0.448119,0.480196,0.937023
2022-03-09,0.897681,0.234643,0.631008,0.376027,0.055020,0.502841,0.671016,0.159951
2022-03-10,0.066962,0.840343,0.111397,0.140932,0.409872,0.509613,0.474575,0.400762
2022-03-11,0.080631,0.727836,0.093067,0.471157,0.114022,0.987940,0.448789,0.353562
2022-03-12,0.513596,0.466261,0.853844,0.215854,0.721572,0.838503,0.884230,0.566735
2022-03-13,0.193059,0.716704,0.598026,0.893972,0.511817,0.183002,0.632912,0.356676
2022-03-14,0.011681,0.946183,0.921488,0.889350,0.738536,0.614728,0.503320,0.300765
2022-03-15,0.559762,0.017254,0.344612,0.818032,0.020370,0.718311,0.581699,0.105795

In [32]:
df.to_numpy()

array([[0.79141036, 0.03205985, 0.29795077, 0.58275589, 0.82519542,
        0.71562912, 0.25279255, 0.17095347],
       [0.37321406, 0.17484806, 0.75154872, 0.82787265, 0.43580499,
        0.43979569, 0.70053491, 0.22325622],
       [0.22633753, 0.86559204, 0.4870964 , 0.20601177, 0.82474956,
        0.81267849, 0.2387226 , 0.17325151],
       [0.3547895 , 0.72350298, 0.78730313, 0.69588147, 0.55323022,
        0.10564605, 0.65859507, 0.45873648],
       [0.97031546, 0.77780749, 0.87905284, 0.03532456, 0.91109857,
        0.25413962, 0.00822846, 0.34485528],
       [0.64608189, 0.24138693, 0.28341002, 0.49766036, 0.65644269,
        0.03064105, 0.47010107, 0.34516188],
       [0.75615041, 0.53165589, 0.99474677, 0.87637493, 0.95661295,
        0.84173815, 0.79808568, 0.58381965],
       [0.76450656, 0.70585817, 0.77690299, 0.04154463, 0.54838872,
        0.44811923, 0.48019562, 0.93702279],
       [0.8976814 , 0.23464323, 0.63100779, 0.37602732, 0.05501991,
        0.50284073, 0.6710159 , 0.15995106],
       [0.06696195, 0.84034271, 0.1113966 , 0.14093237, 0.40987238,
        0.50961313, 0.474575  , 0.40076184],
       [0.08063077, 0.72783634, 0.09306704, 0.47115702, 0.11402217,
        0.98793962, 0.44878926, 0.35356213],
       [0.51359607, 0.46626113, 0.85384401, 0.21585431, 0.7215716 ,
        0.83850288, 0.88422961, 0.56673512],
       [0.19305868, 0.71670404, 0.59802619, 0.8939724 , 0.51181704,
        0.18300222, 0.632912  , 0.35667604],
       [0.01168112, 0.94618275, 0.92148835, 0.88934983, 0.73853578,
        0.61472845, 0.50331954, 0.30076463],
       [0.55976221, 0.01725376, 0.34461203, 0.81803227, 0.02037017,
        0.7183107 , 0.58169853, 0.10579507]])

In [33]:
df.describe()

,A,B,C,D,E,F,G,H
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,0.480412,0.533462,0.587430,0.504583,0.552182,0.533555,0.520253,0.365420
std,0.319296,0.315925,0.299353,0.320761,0.301535,0.292869,0.227576,0.212926
min,0.011681,0.017254,0.093067,0.035325,0.020370,0.030641,0.008228,0.105795
25%,0.209698,0.238015,0.321281,0.210933,0.422839,0.346968,0.459445,0.198254
50%,0.513596,0.705858,0.631008,0.497660,0.553230,0.509613,0.503320,0.345162
75%,0.760328,0.752822,0.820574,0.822952,0.781643,0.765495,0.664805,0.429749
max,0.970315,0.946183,0.994747,0.893972,0.956613,0.987940,0.884230,0.937023

In [34]:
df.transpose()

,2022-03-01,2022-03-02,2022-03-03,2022-03-04,2022-03-05,2022-03-06,2022-03-07,2022-03-08,2022-03-09,2022-03-10,2022-03-11,2022-03-12,2022-03-13,2022-03-14,2022-03-15
A,0.791410,0.373214,0.226338,0.354789,0.970315,0.646082,0.756150,0.764507,0.897681,0.066962,0.080631,0.513596,0.193059,0.011681,0.559762
B,0.032060,0.174848,0.865592,0.723503,0.777807,0.241387,0.531656,0.705858,0.234643,0.840343,0.727836,0.466261,0.716704,0.946183,0.017254
C,0.297951,0.751549,0.487096,0.787303,0.879053,0.283410,0.994747,0.776903,0.631008,0.111397,0.093067,0.853844,0.598026,0.921488,0.344612
D,0.582756,0.827873,0.206012,0.695881,0.035325,0.497660,0.876375,0.041545,0.376027,0.140932,0.471157,0.215854,0.893972,0.889350,0.818032
E,0.825195,0.435805,0.824750,0.553230,0.911099,0.656443,0.956613,0.548389,0.055020,0.409872,0.114022,0.721572,0.511817,0.738536,0.020370
F,0.715629,0.439796,0.812678,0.105646,0.254140,0.030641,0.841738,0.448119,0.502841,0.509613,0.987940,0.838503,0.183002,0.614728,0.718311
G,0.252793,0.700535,0.238723,0.658595,0.008228,0.470101,0.798086,0.480196,0.671016,0.474575,0.448789,0.884230,0.632912,0.503320,0.581699
H,0.170953,0.223256,0.173252,0.458736,0.344855,0.345162,0.583820,0.937023,0.159951,0.400762,0.353562,0.566735,0.356676,0.300765,0.105795

In [35]:
df.sort_index(axis=0,ascending=False)

,A,B,C,D,E,F,G,H
2022-03-15,0.559762,0.017254,0.344612,0.818032,0.020370,0.718311,0.581699,0.105795
2022-03-14,0.011681,0.946183,0.921488,0.889350,0.738536,0.614728,0.503320,0.300765
2022-03-13,0.193059,0.716704,0.598026,0.893972,0.511817,0.183002,0.632912,0.356676
2022-03-12,0.513596,0.466261,0.853844,0.215854,0.721572,0.838503,0.884230,0.566735
2022-03-11,0.080631,0.727836,0.093067,0.471157,0.114022,0.987940,0.448789,0.353562
2022-03-10,0.066962,0.840343,0.111397,0.140932,0.409872,0.509613,0.474575,0.400762
2022-03-09,0.897681,0.234643,0.631008,0.376027,0.055020,0.502841,0.671016,0.159951
2022-03-08,0.764507,0.705858,0.776903,0.041545,0.548389,0.448119,0.480196,0.937023
2022-03-07,0.756150,0.531656,0.994747,0.876375,0.956613,0.841738,0.798086,0.583820
2022-03-06,0.646082,0.241387,0.283410,0.497660,0.656443,0.030641,0.470101,0.345162
2022-03-05,0.970315,0.777807,0.879053,0.035325,0.911099,0.254140,0.008228,0.344855
2022-03-04,0.354789,0.723503,0.787303,0.695881,0.553230,0.105646,0.658595,0.458736
2022-03-03,0.226338,0.865592,0.487096,0.206012,0.824750,0.812678,0.238723,0.173252
2022-03-02,0.373214,0.174848,0.751549,0.827873,0.435805,0.439796,0.700535,0.223256
2022-03-01,0.791410,0.032060,0.297951,0.582756,0.825195,0.715629,0.252793,0.170953

In [11]:
df.sort_index(axis=0,ascending=True)

,A,B,C,D,E,F,G,H
2022-03-01,0.486996,0.286109,0.375173,0.337845,0.445171,0.068922,0.120869,0.244827
2022-03-02,0.958220,0.706617,0.469144,0.515625,0.241183,0.439866,0.066721,0.167088
2022-03-03,0.246525,0.634950,0.516409,0.678557,0.612490,0.166016,0.256517,0.366488
2022-03-04,0.538298,0.423056,0.819930,0.394430,0.238809,0.317298,0.168942,0.019268
2022-03-05,0.652589,0.460815,0.383481,0.851051,0.090567,0.055597,0.442323,0.815452
2022-03-06,0.434480,0.111631,0.468655,0.735754,0.991857,0.392815,0.304879,0.465801
2022-03-07,0.885625,0.213880,0.105461,0.008672,0.088664,0.049390,0.100323,0.483973
2022-03-08,0.039715,0.956371,0.336698,0.201703,0.625310,0.310059,0.022441,0.198420
2022-03-09,0.748222,0.470273,0.787470,0.406661,0.251951,0.922549,0.176686,0.205933
2022-03-10,0.116712,0.743701,0.864380,0.040275,0.453504,0.639618,0.423165,0.079486
2022-03-11,0.219324,0.745985,0.646157,0.041882,0.590192,0.296908,0.872043,0.059704
2022-03-12,0.309378,0.992522,0.050606,0.513400,0.111868,0.995411,0.173709,0.509529
2022-03-13,0.453400,0.292319,0.303911,0.188163,0.500462,0.911889,0.619369,0.241305
2022-03-14,0.914761,0.000136,0.696753,0.118192,0.031971,0.702620,0.738488,0.442650
2022-03-15,0.409672,0.433917,0.686932,0.147827,0.668775,0.921626,0.297759,0.291280

In [13]:
df.sort_values(by="E",ascending=True)

,A,B,C,D,E,F,G,H
2022-03-14,0.914761,0.000136,0.696753,0.118192,0.031971,0.702620,0.738488,0.442650
2022-03-07,0.885625,0.213880,0.105461,0.008672,0.088664,0.049390,0.100323,0.483973
2022-03-05,0.652589,0.460815,0.383481,0.851051,0.090567,0.055597,0.442323,0.815452
2022-03-12,0.309378,0.992522,0.050606,0.513400,0.111868,0.995411,0.173709,0.509529
2022-03-04,0.538298,0.423056,0.819930,0.394430,0.238809,0.317298,0.168942,0.019268
2022-03-02,0.958220,0.706617,0.469144,0.515625,0.241183,0.439866,0.066721,0.167088
2022-03-09,0.748222,0.470273,0.787470,0.406661,0.251951,0.922549,0.176686,0.205933
2022-03-01,0.486996,0.286109,0.375173,0.337845,0.445171,0.068922,0.120869,0.244827
2022-03-10,0.116712,0.743701,0.864380,0.040275,0.453504,0.639618,0.423165,0.079486
2022-03-13,0.453400,0.292319,0.303911,0.188163,0.500462,0.911889,0.619369,0.241305
2022-03-11,0.219324,0.745985,0.646157,0.041882,0.590192,0.296908,0.872043,0.059704
2022-03-03,0.246525,0.634950,0.516409,0.678557,0.612490,0.166016,0.256517,0.366488
2022-03-08,0.039715,0.956371,0.336698,0.201703,0.625310,0.310059,0.022441,0.198420
2022-03-15,0.409672,0.433917,0.686932,0.147827,0.668775,0.921626,0.297759,0.291280
2022-03-06,0.434480,0.111631,0.468655,0.735754,0.991857,0.392815,0.304879,0.465801

In [39]:
df_2["C"]

0    1.0
1    1.0
2    1.0
3    1.0
Name: C, dtype: float32

In [40]:
df["A"]

2022-03-01    0.791410
2022-03-02    0.373214
2022-03-03    0.226338
2022-03-04    0.354789
2022-03-05    0.970315
2022-03-06    0.646082
2022-03-07    0.756150
2022-03-08    0.764507
2022-03-09    0.897681
2022-03-10    0.066962
2022-03-11    0.080631
2022-03-12    0.513596
2022-03-13    0.193059
2022-03-14    0.011681
2022-03-15    0.559762
Freq: D, Name: A, dtype: float64

In [14]:
df["B"]

2022-03-01    0.286109
2022-03-02    0.706617
2022-03-03    0.634950
2022-03-04    0.423056
2022-03-05    0.460815
2022-03-06    0.111631
2022-03-07    0.213880
2022-03-08    0.956371
2022-03-09    0.470273
2022-03-10    0.743701
2022-03-11    0.745985
2022-03-12    0.992522
2022-03-13    0.292319
2022-03-14    0.000136
2022-03-15    0.433917
Freq: D, Name: B, dtype: float64

In [18]:
df.mean()

A    0.494261
B    0.498152
C    0.500744
D    0.345336
E    0.396185
F    0.479372
G    0.318949
H    0.306080
dtype: float64

In [41]:
df_2[0:3]

     A          B    C  D      E    F
0  1.0 2022-01-14  1.0  3   test  foo
1  1.0 2022-01-14  1.0  3  train  foo
2  1.0 2022-01-14  1.0  3   test  foo

In [19]:
df.loc[dates[12]]

A    0.453400
B    0.292319
C    0.303911
D    0.188163
E    0.500462
F    0.911889
G    0.619369
H    0.241305
Name: 2022-03-13 00:00:00, dtype: float64

In [46]:
df.loc[dates[2]]

A    0.226338
B    0.865592
C    0.487096
D    0.206012
E    0.824750
F    0.812678
G    0.238723
H    0.173252
Name: 2022-03-03 00:00:00, dtype: float64

In [47]:
df.loc[:,["A","B"]]

                   A         B
2022-03-01  0.791410  0.032060
2022-03-02  0.373214  0.174848
2022-03-03  0.226338  0.865592
2022-03-04  0.354789  0.723503
2022-03-05  0.970315  0.777807
2022-03-06  0.646082  0.241387
2022-03-07  0.756150  0.531656
2022-03-08  0.764507  0.705858
2022-03-09  0.897681  0.234643
2022-03-10  0.066962  0.840343
2022-03-11  0.080631  0.727836
2022-03-12  0.513596  0.466261
2022-03-13  0.193059  0.716704
2022-03-14  0.011681  0.946183
2022-03-15  0.559762  0.017254

In [48]:
df.at[dates[0],"B"]

0.0320598526063367

In [49]:
df.at[dates[12],"B"]

0.7167040376854582

In [50]:
df.iloc[3:10]

,A,B,C,D,E,F,G,H
2022-03-04,0.354789,0.723503,0.787303,0.695881,0.553230,0.105646,0.658595,0.458736
2022-03-05,0.970315,0.777807,0.879053,0.035325,0.911099,0.254140,0.008228,0.344855
2022-03-06,0.646082,0.241387,0.283410,0.497660,0.656443,0.030641,0.470101,0.345162
2022-03-07,0.756150,0.531656,0.994747,0.876375,0.956613,0.841738,0.798086,0.583820
2022-03-08,0.764507,0.705858,0.776903,0.041545,0.548389,0.448119,0.480196,0.937023
2022-03-09,0.897681,0.234643,0.631008,0.376027,0.055020,0.502841,0.671016,0.159951
2022-03-10,0.066962,0.840343,0.111397,0.140932,0.409872,0.509613,0.474575,0.400762

In [51]:
df.iloc[1:5, 7:9]

                   H
2022-03-02  0.223256
2022-03-03  0.173252
2022-03-04  0.458736
2022-03-05  0.344855

In [9]:
df[0:10]

,A,B,C,D,E,F,G,H
2022-03-01,0.486996,0.286109,0.375173,0.337845,0.445171,0.068922,0.120869,0.244827
2022-03-02,0.958220,0.706617,0.469144,0.515625,0.241183,0.439866,0.066721,0.167088
2022-03-03,0.246525,0.634950,0.516409,0.678557,0.612490,0.166016,0.256517,0.366488
2022-03-04,0.538298,0.423056,0.819930,0.394430,0.238809,0.317298,0.168942,0.019268
2022-03-05,0.652589,0.460815,0.383481,0.851051,0.090567,0.055597,0.442323,0.815452
2022-03-06,0.434480,0.111631,0.468655,0.735754,0.991857,0.392815,0.304879,0.465801
2022-03-07,0.885625,0.213880,0.105461,0.008672,0.088664,0.049390,0.100323,0.483973
2022-03-08,0.039715,0.956371,0.336698,0.201703,0.625310,0.310059,0.022441,0.198420
2022-03-09,0.748222,0.470273,0.787470,0.406661,0.251951,0.922549,0.176686,0.205933
2022-03-10,0.116712,0.743701,0.864380,0.040275,0.453504,0.639618,0.423165,0.079486

In [20]:
df.loc[:, ["A", "B"]]

                   A         B
2022-03-01  0.486996  0.286109
2022-03-02  0.958220  0.706617
2022-03-03  0.246525  0.634950
2022-03-04  0.538298  0.423056
2022-03-05  0.652589  0.460815
2022-03-06  0.434480  0.111631
2022-03-07  0.885625  0.213880
2022-03-08  0.039715  0.956371
2022-03-09  0.748222  0.470273
2022-03-10  0.116712  0.743701
2022-03-11  0.219324  0.745985
2022-03-12  0.309378  0.992522
2022-03-13  0.453400  0.292319
2022-03-14  0.914761  0.000136
2022-03-15  0.409672  0.433917

In [33]:
df.loc["20220302":"20220304", ["A", "B"]]

                   A         B
2022-03-02  0.958220  0.706617
2022-03-03  0.246525  0.634950
2022-03-04  0.538298  0.423056

In [35]:
df.at[dates[12],"B"]

0.2923194192547246

In [36]:
df.at[dates[13],"C"]

0.6967526651414735

In [37]:
df.iloc[8:10]

,A,B,C,D,E,F,G,H
2022-03-09,0.748222,0.470273,0.78747,0.406661,0.251951,0.922549,0.176686,0.205933
2022-03-10,0.116712,0.743701,0.86438,0.040275,0.453504,0.639618,0.423165,0.079486

In [38]:
df.iloc[0:5, 0:3]

                   A         B         C
2022-03-01  0.486996  0.286109  0.375173
2022-03-02  0.958220  0.706617  0.469144
2022-03-03  0.246525  0.634950  0.516409
2022-03-04  0.538298  0.423056  0.819930
2022-03-05  0.652589  0.460815  0.383481

In [45]:
df[df["H"]< 0.1]

,A,B,C,D,E,F,G,H
2022-03-04,0.538298,0.423056,0.819930,0.394430,0.238809,0.317298,0.168942,0.019268
2022-03-10,0.116712,0.743701,0.864380,0.040275,0.453504,0.639618,0.423165,0.079486
2022-03-11,0.219324,0.745985,0.646157,0.041882,0.590192,0.296908,0.872043,0.059704